{% extends 'base.html' %}

{% load static %}
{% block content %}
    <div class="container">
        <div class="column" id="column1">
            <a href="{% url 'home' %}" class="btn btn-primary">Voltar</a>
        </div>
        <div class="column" id="column2">
            <div class="column3">
                <form action="{% url 'clients_list' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <label class="input-label" for="entry_client_name">Nome:</label>
                    <input class="input-field" type="text" id="entry_client_name" name="entry_client_name" placeholder="Digite o nome completo..."><br>

                    <label class="input-label" for="entry_client_cnpj">CNPJ:</label>
                    <input class="input-field" type="text" id="entry_client_cnpj" name="entry_client_cnpj" placeholder="Digite o CNPJ..." maxlength="18"><br>

                    <label class="input-label" for="entry_client_address">Endereço:</label>
                    <input class="input-field" type="text" id="entry_client_address" name="entry_client_address" placeholder="Digite o endereço..."><br>

                    <label class="input-label" for="entry_client_phone">Telefone:</label>
                    <input class="input-field" type="text" id="entry_client_phone" name="entry_client_phone" placeholder="Digite o telefone..." maxlength="15"><br>

                    <div style="text-align: right; margin-right: 30px;" class="form-input">
                        <button type="submit" class="btn btn-primary">Registrar</button>
                        <a id="button_clear_client" class="btn btn-primary" onclick="clearClientData()">Limpar campos</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static '/js/styles.js' %}"></script>

{% endblock %}
