{% extends 'base.html' %}
{% block content %}

<div class="container text-center mt-5">
    <h1 class="display-4 text-primary">Bem-vindo à Página Inicial!</h1>
    <p class="lead mt-3">
        Aqui na página inicial, você pode escolher entre as opções abaixo para gerenciar sua empresa!
    </p>

    <div class="d-flex flex-column align-items-center mt-4">
        <a href="{% url 'employee_registration' %}" class="btn btn-success btn-lg mb-3" style="width: 250px;">Cadastrar
            Funcionário</a>
        <a href="{% url 'tasks_list' %}" class="btn btn-success btn-lg mb-3" style="width: 250px;">Gerenciar
            Tarefas</a>
        <a href="{% url 'tasks_register' %}" class="btn btn-success btn-lg mb-3" style="width: 250px;">Cadastrar
            Tarefas</a>            
        <a href="{% url 'projects_list' %}" class="btn btn-success btn-lg mb-3" style="width: 250px;">Gerenciar
            Projetos</a>
        <a href="{% url 'projects_register' %}" class="btn btn-success btn-lg mb-3" style="width: 250px;">Cadastrar
            Projetos</a>
        <a href="{% url 'department_list' %}" class="btn btn-success btn-lg mb-3" style="width: 250px;">Gerenciar
            Departamentos</a>
        <a href="{% url 'clients_register' %}" class="btn btn-success btn-lg mb-3" style="width: 250px;">Cadastrar
            Clientes</a>
        <a href="{% url 'clients_list' %}" class="btn btn-success btn-lg mb-3" style="width: 250px;">Gerenciar
            Clientes</a>

        <div class="d-flex justify-content-center mt-4">
            <a href="{% url 'tasks_manager' %}" class="btn btn-primary btn-lg text-dark"
                style="width: 300px; font-weight: bold;">
                Alocações
            </a>
        </div>
    </div>

</div>s

{% endblock %}