{% extends 'base.html' %}

{% load static %}
{% block content %}
<div class="container">
    <div class="column" id="column1">
        <a href="{% url 'home' %}" class="btn btn-primary">Voltar</a>
    </div>
    <div class="column" id="column2">
        <div class="column3">
            <form action="{% url 'projects_register' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <label class="input-label" for="entry_project_name">Nome:</label>
                <input class="input-field" type="text" id="entry_project_name" name="entry_project_name"
                    placeholder="Digite o nome completo..." maxlength="150" required><br>

                <label class="input-label" for="entry_project_description">Descrição:</label>
                <input type="text" id="entry_project_description" name="entry_project_description" class="input-field"
                    placeholder="Digite a descrição..." maxlength="255" required>
                <!-- Campo oculto para enviar a descrição limpa (caso necessário) -->
                <input type="hidden" id="clean_description" name="clean_description">

                <label class="input-label" for="entry_project_start_date">Data de Início:</label>
                <input class="input-field" type="date" id="entry_project_start_date" name="entry_project_start_date"
                    required><br>

                <label class="input-label" for="entry_project_end_date">Data de Término:</label>
                <input class="input-field" type="date" id="entry_project_end_date" name="entry_project_end_date"
                    required><br>

                <label class="input-label" for="entry_project_client">Cliente:</label>
                <select class="input-field" id="entry_project_client" name="entry_project_client" required>
                    {% for client in clients %}
                    <option value="{{ client.0 }}">{{ client.1 }}</option>
                    {% endfor %}
                </select><br>

                <div style="text-align: right; margin-right: 30px;" class="form-input">
                    <button type="submit" class="btn btn-primary">Registrar</button>
                    <a id="button_clear_project" class="btn btn-primary" onclick="clearProjectData()">Limpar campos</a>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="{% static 'js/scripts.js' %}"></script>
{% endblock %}